<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Register new user</h4>
    <button type="button" class="close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName" aplaceholder="Enter first name">
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName" aplaceholder="Enter last name">
      </div>
      <div class="form-group">
        <label for="login">Nickname</label>
        <input type="text" class="form-control" id="nickname" name="nickname" [(ngModel)]="user.nickname" aplaceholder="Enter nickname">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" aplaceholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="passwordConfirmation">Password confirmation</label>
        <input type="password" class="form-control" id="passwordConfirmation" placeholder="Password confirmation">
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="register(user)">Register</button>
  </div>
</ng-template>

<a class="dropdown-item" href="#" (click)="open(content)">Register</a>
