$color-field-black: #d18b47;
$color-field-white: #ffce9e;

.chessboard .row {
  padding: 0;
  margin: 0;
  display: flex;
}

.chessboard .field {
  width: 60px;
  height: 60px;
  text-align: center;
}

.chessboard .field.black {
  border: 2px solid $color-field-black;
  background-color: $color-field-black;
}

.chessboard .field.white {
  border: 2px solid $color-field-white;
  background-color: $color-field-white;
}

.chessboard .row.label .field {
  width: 60px;
  height: 30px;
  text-align: center;
  border: 2px solid white;
}

.chessboard .row .field.label {
  border: 2px solid white;
  width: 30px;
}

.chessboard .row .field.label div {
  padding-top: 18px;
}

.chessboard .field img {
  padding-top: 6px;
}

.validMove {
  border: 2px solid gray !important;
}

ol.two-columns {
  width: 100%;
}

ol.two-columns .li {
  float:left;
  width:50%;
}

div.overview.card {
  height: 33%;
}

div.history.card {
  height: 100%;
}
